html {
  height: 90%;
  width: 100%;
}

body {
  opacity: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: #333;
}

.fade-in {
  animation-name: fade;
  animation-duration: 0.01s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  to { opacity: 1 }
}

@keyframes dropIn {
  0% {
    transform: translateY(-1200px);
    opacity: 0;
   }
  100% {
    transform: translateY(0px);
    opacity: 0.7;
  }
}

#left {
  width: 45%;
}

#left > * {
  border-radius: 10px;
}
