#weather {
  font-family: 'Libre Baskerville', serif;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.7;
  padding-left: 30px;
  transition: all 0.3s;
  border-radius: 5px;

  animation-name: dropIn;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

#icon {
  height: 100px;
  width: 120px;
}

#weather > * {
  font-size: 40px;
}

#weather:hover {
  opacity: 1;
  box-shadow: 7px 7px 10px #888;
  transform: translate(-5px, -5px);
}

#location {
  font-size: 18px;
  width: 400px;
  text-align: center;
}

#weather-description {
  width: 60%;
  font-size: 30px;
  text-align: center;
}
